
@charset "UTF-8";

.form-control{
    -o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s
}

.form-control,output{
    font-size:14px;
    line-height:1.42857143;
    color:#555;
    display:block
}

.form-control{
    width:100%;
    height:34px;
    padding:6px 12px;
    background-color:#fff;
    border:1px solid #ccc;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s
}

.form-control:focus{
    outline:0;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}
.form-control::-ms-expand{
    background-color:transparent;
    border:0
}
.form-control[disabled],.form-control[readonly],fieldset[disabled] .form-control{
    background-color:#eee;
    opacity:1
}
.form-control[disabled],fieldset[disabled] .form-control{
    cursor:not-allowed
}
textarea.form-control{
    height:auto
}

.form-group-sm .form-control,.input-sm{
    padding:5px 10px;
    border-radius:3px;
    font-size:12px
}

.form-group-sm .form-control{
    height:30px;
    line-height:1.5
}
.form-group-lg .form-control,.input-lg{
    border-radius:6px;
    padding:10px 16px;
    font-size:18px
}
.form-group-sm select.form-control{
    height:30px;
    line-height:30px
}
.form-group-sm select[multiple].form-control,.form-group-sm textarea.form-control{
    height:auto
}

.form-group-lg .form-control{
    height:46px;
    line-height:1.3333333
}
.form-group-lg select.form-control{
    height:46px;
    line-height:46px
}
.form-group-lg select[multiple].form-control,.form-group-lg textarea.form-control{
    height:auto
}

@media (min-width:768px){
    .form-inline .form-control-static,.form-inline .form-group{
        display:inline-block
    }
    .form-inline .control-label,.form-inline .form-group{
        margin-bottom:0;
        vertical-align:middle
    }
    .form-inline .form-control{
        display:inline-block;
        width:auto;
        vertical-align:middle
    }
    .form-inline .input-group{
        display:inline-table;
        vertical-align:middle
    }
    .form-inline .input-group .form-control,.form-inline .input-group .input-group-addon,.form-inline .input-group .input-group-btn{
        width:auto
    }
    .form-inline .input-group>.form-control{
        width:100%
    }
    .form-inline .checkbox,.form-inline .radio{
        display:inline-block;
        margin-top:0;
        margin-bottom:0;
        vertical-align:middle
    }
    .form-inline .checkbox label,.form-inline .radio label{
        padding-left:0
    }
    .form-inline .checkbox input[type=checkbox],.form-inline .radio input[type=radio]{
        position:relative;
        margin-left:0
    }
    .form-inline .has-feedback .form-control-feedback{
        top:0
    }
    .form-horizontal .control-label{
        padding-top:7px;
        margin-bottom:0;
        text-align:right
    }
}


.input-group .form-control{
    position:relative;
    z-index:2;
    float:left;
    width:100%;
    margin-bottom:0
}
.input-group .form-control:focus{
    z-index:3
}
.input-group-lg>.form-control,.input-group-lg>.input-group-addon,.input-group-lg>.input-group-btn>.btn{
    height:46px;
    padding:10px 16px;
    font-size:18px;
    line-height:1.3333333;
    border-radius:6px
}
select.input-group-lg>.form-control,select.input-group-lg>.input-group-addon,select.input-group-lg>.input-group-btn>.btn{
    height:46px;
    line-height:46px
}

.input-group .form-control:not(:first-child):not(:last-child),.input-group-addon:not(:first-child):not(:last-child),.input-group-btn:not(:first-child):not(:last-child){
    border-radius:0
}

.form-control{
    border-radius:3px;
    border-color:#d2d6de
}
.form-control:focus{
    border-color:#8cadd9!important
}
.form-control::-moz-placeholder{
    color:#cdcdcd;
    opacity:1
}
.form-control:-ms-input-placeholder{
    color:#cdcdcd
}
.form-control::-webkit-input-placeholder{
    color:#cdcdcd
}
.form-control:not(select){
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none
}


.form-group.has-success .form-control{
    border-color:#00a65a!important;
    box-shadow:none
}
.form-group.has-warning label{
    color:#f39c12
}
.form-group.has-warning .form-control{
    border-color:#f39c12!important;
    box-shadow:none
}
.form-group.has-error label{
    color:#dd4b39
}
.form-group.has-error .form-control{
    border-color:#dd4b39!important;
    box-shadow:none
}

.input-group input.form-control{
    border-radius:3px
}
.input-group input.form-control:last-child{
    border-radius:0 3px 3px 0!important
}
.input-group input.form-control:first-child{
    border-radius:3px 0 0 3px!important
}

.underLineTextBox,.underLineTextBox:focus{
    border-style:solid;
    border-width:0 0 1px;
    outline:0;
    -webkit-appearance:none
}

.underLineTextBox{
    -webkit-box-shadow:inset 0 -1px 0 #ddd;
    box-shadow:inset 0 -1px 0 #ddd;
    border-color:#d2d6de;
    background-color:transparent!important
}
.underLineTextBox:focus{
    -webkit-box-shadow:inset 0 -1px 0 #00B9F5;
    box-shadow:inset 0 -1px 0 #00B9F5;
    border-color:#00B9F5
}
.underLineTextBox>option{
    margin:3px;
    padding:6px 8px;
    text-shadow:none;
    border-radius:3px;
    cursor:pointer
}

span>.width-intial~div.tt-menu{
    position:relative!important
}
.width-intial{
    width:initial!important
}

span.twitter-typeahead .tt-dropdown-menu,span.twitter-typeahead .tt-menu{
    position:absolute;
    top:100%;
    left:0;
    z-index:1000;
    display:none;
    float:left;
    min-width:160px;
    padding:5px 0;
    margin:2px 0 0;
    list-style:none;
    font-size:15px;
    text-align:left;
    background-color:#fff;
    border:1px solid #ccc;
    border:1px solid rgba(0,0,0,.15);
    border-radius:4px;
    -webkit-box-shadow:0 6px 12px rgba(0,0,0,.175);
    box-shadow:0 6px 12px rgba(0,0,0,.175);
    background-clip:padding-box
}
span.twitter-typeahead .tt-suggestion{
    display:block;
    padding:3px 20px;
    clear:both;
    font-weight:400;
    line-height:1.42857143;
    color:#333;
    white-space:nowrap
}
span.twitter-typeahead .tt-suggestion.tt-cursor,span.twitter-typeahead .tt-suggestion:focus,span.twitter-typeahead .tt-suggestion:hover{
    color:#fff;
    text-decoration:none;
    outline:0;
    background-color:#337ab7
}
.input-group.input-group-lg span.twitter-typeahead .form-control{
    height:46px;
    padding:10px 16px;
    font-size:15px;
    line-height:1.3333333;
    border-radius:6px
}
.input-group.input-group-sm span.twitter-typeahead .form-control{
    height:30px;
    padding:5px 10px;
    font-size:15px;
    line-height:1.5;
    border-radius:3px
}
span.twitter-typeahead{
    width:100%!important
}
.input-group span.twitter-typeahead{
    display:block!important;
    height:34px
}
.input-group span.twitter-typeahead .tt-dropdown-menu,.input-group span.twitter-typeahead .tt-menu{
    top:32px!important
}
.input-group span.twitter-typeahead:not(:first-child):not(:last-child) .form-control{
    border-radius:0
}
.input-group span.twitter-typeahead:first-child .form-control{
    border-radius:4px 0 0 4px
}
.input-group span.twitter-typeahead:last-child .form-control{
    border-radius:0 4px 4px 0
}
.input-group.input-group-sm span.twitter-typeahead{
    height:30px
}
.input-group.input-group-sm span.twitter-typeahead .tt-dropdown-menu,.input-group.input-group-sm span.twitter-typeahead .tt-menu{
    top:30px!important
}
.input-group.input-group-lg span.twitter-typeahead{
    height:46px
}
.input-group.input-group-lg span.twitter-typeahead .tt-dropdown-menu,.input-group.input-group-lg span.twitter-typeahead .tt-menu{
    top:46px!important
}
.twitter-typeahead .tt-hint,.twitter-typeahead .tt-query{
    margin-bottom:0
}
.tt-hint{
    display:block;
    vertical-align:middle;
    background-color:#fff;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s
}
.tt-dropdown-menu{
    min-width:160px;
    border:1px solid #ccc;
    border:1px solid rgba(0,0,0,.15);
    border-radius:4px;
    -webkit-box-shadow:0 6px 12px rgba(0,0,0,.175);
    box-shadow:0 6px 12px rgba(0,0,0,.175);
    background-clip:padding-box
}
.tt-suggestion.tt-is-under-cursor a{
    color:#fff
}
.typeahead-search{
    width:100%
}
.twitter-typeahead{
    max-width:inherit;
    font-weight:400;
    line-height:1.42857143;
    font-size:14px!important;
    color:#333
}
.typeAheadStyle{
    width:inherit!important;
    background-color:transparent;
    font-weight:500!important;
    font-size:14px!important
}
.tt-hint,.tt-query,.typeahead{
    height:30px!important;
    padding:0 12px!important;
    font-size:15px!important;
    line-height:30px;
    border:2px solid #ccc;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
    outline:0
}
.tt-dropdown-menu,.tt-menu{
    margin-top:20px;
    padding:8px 0
}
.tt-hint{
    top:2px!important;
    color:#ccc;
    border:inherit!important
}
.tt-menu,.typeahead{
    border:1px solid #ccc!important;
    background-color:#fff
}
.tt-menu{
    max-width:inherit;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
    -webkit-box-shadow:0 5px 10px #ccc!important;
    -moz-box-shadow:0 5px 10px #ccc!important;
    box-shadow:0 5px 10px #ccc!important;
    max-height:150px!important;
    overflow-y:auto
}
.tt-dropdown-menu{
    text-align:left;
    width:inherit!important;
    background-color:#fff
}
.tt-suggestion{
    display:block;
    padding:3px 10px;
    font-size:15px!important;
    line-height:24px
}
.tt-suggestion.tt-is-under-cursor{
    color:#fff;
    background-color:#0097cf
}
.tt-suggestion p{
    margin:0
}
.typeahead-wrapper{
    display:block;
    margin:50px 0
}
.tt-suggestion.tt-cursor{
    background-color:#ccc
}
.templateHeader{
    font-weight:700;
    width:auto;
    display:block;
    border-bottom:1px solid #ccc;
    font-size:large;
    margin:10px 20px 5px;
    padding:3px 0
}
.empty-message{
    padding:5px 10px;
    text-align:center
}
.tt-hint,.tt-input,.tt-menu,.twitter-typeahead{
    width:100%!important
}
 